<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}LOAN{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
                '@LoanLayoutBundle/Resources/public/css/style.css'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet">
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        
        <div class="container">

          <div class="masthead">
              
            <p class="pull-right">
                {% if app.user %}
                  
                Jesteś zalogowany jako: {{ app.user.username }} 
                
                  <a href="{{ path('fos_user_security_logout') }}">[wyloguj]</a>
               
                {% else %}
                     <a href="{{ path('fos_user_security_login') }}">zaloguj się</a>
                {% endif %}
            </p>
    
            <h3 class="text-muted">POŻYCZKI GOTÓWKOWE</h3>
   
            <div class="navbar-collapse collapse" id="navbar">
        {{ knp_menu_render('LoanLayoutBundle:Builder:mainMenu') }}
   
             </div>
        <div class="container">
            {% block body %}{% endblock %}
            
            <!-- Site footer -->
         <div class="footer">
            <p>&copy; Company 2015</p>
         </div>
        </div>
        
        {% block javascripts %}
            {% javascripts
	        	'https://code.jquery.com/jquery-1.11.1.min.js'
	        	'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
	        	'@LoanLayoutBundle/Resources/public/js/scripts.js'
	        %}
	        	<script src="{{ asset_url }}"></script>
	        {% endjavascripts %}
        {% endblock %}
    </body>
</html>